* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


.contact-info {
  color: white;
}

#experiencia-laboral>h6 {
  color: white;
}

.my-3 {
color: white;

}

#cursos .image-top {
  height: 310px;
  background-repeat: no-repeat;
  background-size: cover;
}
 
.portafolio img {
  width: 350px;
  height: 300px;
  border-radius: 10px;
}

.pages-portafolio {
  gap: 2rem;
  
}

.container{
  border-radius: 10%;
}

